* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  color: white;

  --color-orange: #ebc45c;
  --color-orange-dark: #605021;

  font-size: 16px;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
}

.topbar {
  display: flex;
  margin: 12px 0 12px 0;
  justify-content: right;
}

.topbar button {
  color: var(--color-orange);
  font-size: 20px;
  margin-right: 8px;
}

.topbar button:hover {
  color: var(--color-orange-dark);
  transition: all 0.2s;
}

.topbar button:not(:hover) {
  opacity: 1;
  transition: all 0.2s;
}

h1 {
  font-size: 40px;
  margin: 0 0 12px 12px;
  font-weight: 600;
}

textarea,
input {
  user-select: text;
  -webkit-user-select: text;
}
