* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

  color: white;

  --color-orange: #ebc45c;
  --color-orange-dark: #605021;
  --color-gray: #242426;
  --color-gray-drawer: #161616;
  --color-split-line: #444448;

  font-size: 16px;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
}

.spacing {
  flex: 1;
}

.topbar {
  display: flex;
  margin: 12px 0 12px 0;
}

.topbar button {
  color: var(--color-orange);
  font-size: 20px;
  margin: 0 8px 0 8px;
}

.topbar button:active {
  color: var(--color-orange-dark);
  transition: all 0.2s;
}

.topbar button:not(:active) {
  opacity: 1;
  transition: all 0.2s;
}

h1 {
  font-size: 40px;
  margin: 0 0 12px 12px;
  font-weight: 600;
}

ul {
  list-style: none;
  padding-left: 0;
}

textarea,
input {
  user-select: text;
  -webkit-user-select: text;
  padding: 0;
  border: none;
  background: none;
  background-color: var(--color-gray);
  margin: 0 12px 0 12px;
}

input::selection {
  background-color: transparent;
  color: inherit;
}

.stock-list-item:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: none;
}

.stock-list-item:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: none;
}

.stock-list-item {
  background-color: var(--color-gray);
  margin: 0 12px 0 12px;
  padding: 12px 24px 12px 24px;
  border-top: 0.5px solid var(--color-split-line);
  border-bottom: 0.5px solid var(--color-split-line);
}

.stock-list-item span {
  font-weight: 600;
  font-size: 24px;
}

.home-drawer {
  position: fixed;
  background-color: var(--color-gray-drawer);
  left: 0;
  bottom: -99vh;
  height: 99vh;
  width: 100%;
  transition: bottom 0.3s ease;
}

.home-drawer.open {
  bottom: 0;
}
